importFrom("stats", "cor")
importFrom("stats", "na.exclude")
importFrom("stats", "qnorm")
importFrom("stats", "simulate")
importFrom("utils", "setTxtProgressBar")
importFrom("utils", "txtProgressBar")
importFrom("utils", "URLencode")

export("add_reader")
export("build_popmod")
export("col_assoc")
export("create_population")
export("delete_population")
export("display_name<-")
export("display_name")
export("display_names<-")
export("display_names")
export("edp_session")
export("identifying<-")
export("identifying")
export("identifying_columns<-")
export("identifying_columns")
export("is.edp_session")
export("is.popmod")
export("is.population")
export("popmod")
export("popmods")
export("population")
export("populations")
export("schema")
export("select")
export("stat_type<-")
export("stat_type")
export("visibility")
export("wait_for")

S3method("add_reader", "edp_population_model")
S3method("as.character", "edp_population_model")
S3method("names", "edp_population_model")
S3method("print", "edp_population_model")
S3method("simulate", "edp_population_model")
S3method("predict", "edp_population_model")
S3method("visibility", "edp_population_model")

S3method("add_reader", "edp_population")
S3method("as.character", "edp_population")
S3method("popmods", "edp_population")
S3method("print", "edp_population")
S3method("visibility", "edp_population")

S3method("popmods", "edp_session")
S3method("print", "edp_session")
